/* coloos 
https://coolors.co/palette/233d4d-fe7f2d-fcca46-a1c181-619b8a
*/

.hero_image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1619467416348-6a782839e95f?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.company_name button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .company_name button:hover {
    background-color: #555;
    color: white;
  }

.company_name {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #233D4D;
    color: #FCCA46;
    
}
h3{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #FCCA46;
}

/* Destination Info Section */
    .destination_pictures{
        height: 14em;
        width: 18em;
        border: 2px solid #FE7F2D;
    }

    #slideshowcontainer{
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    #myslides_fade{
        display: none;
    }

    
    /* Caption text */
    figcaption{
        color: #FE7F2D;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }



    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    Fading animation
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

a:link{
    color: #FE7F2D;
}
a:link:hover{
    color: #FCCA46;
}
a:link:visited:active{
    color:#619B8A;
}

/* figcaption{
    margin-left: 8em;
} */
  /* End of Destination Info section */

  /* Start of Booking Section  */
  
  .booking_form{
    border-style: dotted;
    background: #A1C181;
    border-color: red;
    color: #233D4D;
    width: 35em;
    height: 25em;
  }


/* Form Styling */
input, textarea, select {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #A1C181; /* Muted Green */
    color: #233D4D; /* Dark Blue */
    border: 2px solid #FE7F2D; /* Vibrant Orange border */
    padding: 8px;
    border-radius: 5px;
}

  /* input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10%;
  }

  select {
    width: 10%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  } */
  /* End of Booking Section */


  /* Accordian styling
  
  /* Style the buttons that are used to open and close the accordion panel */
.faq_question {
    background-color: #FE7F2D;
    color: #233D4D;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border-radius: 5px;
  }
  

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .faq_question:hover {
    background-color: #FCCA46 ;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: #A1C181;
    display: none;
    overflow: hidden;
    font-family: 'Monteserrat', sans-serif;
    font-weight: 400;
    color: #233D4D;
  }
  
